In [1]:
import zipfile
import pandas as pd
import numpy as np

In [2]:
with zipfile.ZipFile('data.zip', 'r') as zip_ref:
    zip_ref.extractall('.')

data = pd.read_csv('smoke_detection_iot.csv')
data.head()

,Unnamed: 0,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [3]:
data = data.drop(columns=['Unnamed: 0', 'CNT'])

In [4]:
data['Fire Alarm'].value_counts()

Fire Alarm
1    44757
0    17873
Name: count, dtype: int64

In [5]:
data.describe()

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,Fire Alarm
count,6.263000e+04,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000,62630.000000
mean,1.654792e+09,15.970424,48.539499,1942.057528,670.021044,12942.453936,19754.257912,938.627649,100.594309,184.467770,491.463608,203.586487,80.049042,0.714626
std,1.100025e+05,14.359576,8.865367,7811.589055,1905.885439,272.464305,609.513156,1.331344,922.524245,1976.305615,4265.661251,2214.738556,1083.383189,0.451596
min,1.654712e+09,-22.010000,10.740000,0.000000,400.000000,10668.000000,15317.000000,930.852000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.654743e+09,10.994250,47.530000,130.000000,400.000000,12830.000000,19435.000000,938.700000,1.280000,1.340000,8.820000,1.384000,0.033000,0.000000
50%,1.654762e+09,20.130000,50.150000,981.000000,400.000000,12924.000000,19501.000000,938.816000,1.810000,1.880000,12.450000,1.943000,0.044000,1.000000
75%,1.654778e+09,25.409500,53.240000,1189.000000,438.000000,13109.000000,20078.000000,939.418000,2.090000,2.180000,14.420000,2.249000,0.051000,1.000000
max,1.655130e+09,59.930000,75.200000,60000.000000,60000.000000,13803.000000,21410.000000,939.861000,14333.690000,45432.260000,61482.030000,51914.680000,30026.438000,1.000000

In [6]:
df_0 = data[data['Fire Alarm'] == 0].head(10000)

df_1 = data[data['Fire Alarm'] == 1].head(10000)

data = pd.concat([df_0, df_1])

data.head()

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,Fire Alarm
0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0
1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,0
2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,0
3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,0
4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,0

In [7]:
data['Fire Alarm'].value_counts()

Fire Alarm
0    10000
1    10000
Name: count, dtype: int64

In [27]:
data.describe()

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,Fire Alarm
count,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,1.654739e+09,11.359320,50.783214,281.259950,454.545850,12985.547700,20017.137900,939.110116,1.428687,1.500053,9.794723,1.552128,0.049856,0.500000
std,1.608417e+04,13.294368,4.625648,357.522622,165.715095,198.547374,377.206533,0.889537,2.776220,3.185759,18.366727,3.340849,0.392707,0.500013
min,1.654712e+09,-9.276000,30.270000,0.000000,400.000000,11977.000000,18520.000000,931.131000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.654735e+09,-4.146000,47.920000,31.000000,400.000000,12794.000000,19790.000000,939.049000,0.530000,0.560000,3.660000,0.585000,0.016000,0.000000
50%,1.654740e+09,14.659500,50.900000,128.000000,400.000000,13059.000000,20006.000000,939.586000,1.530000,1.610000,10.530000,1.667000,0.041000,0.500000
75%,1.654745e+09,24.389500,53.930000,321.000000,426.000000,13154.000000,20165.000000,939.669000,2.110000,2.190000,14.510000,2.265000,0.052000,1.000000
max,1.654903e+09,30.100000,67.380000,1233.000000,8613.000000,13606.000000,21312.000000,939.861000,140.840000,164.160000,924.560000,172.480000,20.719000,1.000000

In [28]:
X = data[data.columns[:-1]]
y = data['Fire Alarm']
X

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5
0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000
1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000
2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000
3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000
4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13173,1654746504,20.668,48.42,1143,557,12823,19434,938.878,1.73,1.80,11.91,1.857,0.042
13174,1654746505,20.667,49.11,1180,552,12833,19441,938.877,1.73,1.80,11.93,1.860,0.042
13175,1654746506,20.665,49.78,1126,547,12833,19439,938.880,1.75,1.82,12.03,1.875,0.042
13176,1654746507,20.664,50.33,1145,550,12828,19441,938.888,1.78,1.85,12.26,1.912,0.043
13177,1654746508,20.662,50.71,1120,531,12833,19442,938.897,1.79,1.86,12.34,1.925,0.043

In [29]:
# Scale
from sklearn.preprocessing import StandardScaler

fields = X.columns
scaler = StandardScaler()
X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns=fields)
X

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5
0,-0.362687,0.649967,1.421844,-0.786711,-0.329163,-3.422683,-3.969113,0.702500,-0.514629,-0.470874,-0.533300,-0.464602,-0.126957
1,-0.362625,0.651095,1.272672,-0.786711,-0.329163,-3.226251,-3.621814,0.712618,-0.514629,-0.470874,-0.533300,-0.464602,-0.126957
2,-0.362563,0.652148,1.119176,-0.786711,-0.329163,-3.080187,-3.322236,0.705872,-0.514629,-0.470874,-0.533300,-0.464602,-0.126957
3,-0.362500,0.653276,0.972166,-0.786711,-0.329163,-2.999599,-3.096890,0.703624,-0.514629,-0.470874,-0.533300,-0.464602,-0.126957
4,-0.362438,0.654405,0.844613,-0.786711,-0.329163,-2.934122,-2.906008,0.712618,-0.514629,-0.470874,-0.533300,-0.464602,-0.126957
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.456337,0.700215,-0.510906,2.410369,0.618270,-0.818705,-1.545977,-0.260947,0.108536,0.094155,0.115172,0.091258,-0.020004
19996,0.456399,0.700139,-0.361734,2.513862,0.588097,-0.768338,-1.527419,-0.262071,0.108536,0.094155,0.116261,0.092156,-0.020004
19997,0.456462,0.699989,-0.216886,2.362819,0.557924,-0.768338,-1.532721,-0.258699,0.115740,0.100433,0.121706,0.096646,-0.020004
19998,0.456524,0.699914,-0.097981,2.415964,0.576028,-0.793522,-1.527419,-0.249705,0.126547,0.109850,0.134229,0.107722,-0.017458
19999,0.456586,0.699763,-0.015828,2.346036,0.461371,-0.768338,-1.524768,-0.239587,0.130149,0.112989,0.138584,0.111613,-0.017458

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5
17218,0.283679,-0.847171,1.129986,1.859342,1.457080,-1.045357,-1.376304,-0.020366,0.321061,0.285637,0.336774,0.281334,0.015647
15188,0.157465,-1.200036,1.255377,0.139128,-0.329163,0.571426,-0.212456,0.278673,-0.428178,-0.392398,-0.444550,-0.388572,-0.111678
11295,-0.084581,-1.232607,-0.599545,-0.574132,-0.329163,1.281602,0.331026,0.615936,0.299448,0.266802,0.314995,0.262776,0.013100
19772,0.442472,0.714056,0.444659,2.304080,0.557924,-0.763301,-1.503558,-0.227221,0.252621,0.222856,0.264358,0.219373,0.005461
13072,0.025903,-1.447290,-0.046095,-0.316799,-0.329163,0.934069,0.219679,0.629426,-0.215654,-0.200916,-0.224037,-0.199394,-0.076027
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,-0.085265,-1.225687,-0.601707,-0.621682,-0.329163,1.372262,0.365491,0.621557,0.414716,0.370391,0.432057,0.363352,0.030926
11964,-0.042986,-1.516870,0.500869,-0.663639,-0.329163,1.231235,0.392002,0.672146,0.234610,0.207161,0.245846,0.203508,0.000368
5390,1.516474,0.513063,-0.530364,-0.708392,-0.329163,0.979399,0.198469,0.534993,-0.219256,-0.204055,-0.227304,-0.202088,-0.076027
860,-0.309217,1.172381,1.452111,-0.786711,-0.329163,0.103012,-0.225712,0.723860,-0.381351,-0.348451,-0.393369,-0.344869,-0.104038
15795,0.195205,-1.246974,1.266186,0.248214,-0.329163,0.329664,-0.345013,0.158383,-0.395759,-0.364146,-0.409159,-0.358040,-0.106585

### KNN for Classification
Using Grid Search - Cross Validation to determine the best hyperparameters

In [31]:
# Hyperparameters 1

from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

param_grid = {
    'n_neighbors': [3, 5, 7, 9, 11],  # Trying different values for K
    'weights': ['uniform', 'distance'],  # Uniform weighting vs distance weighting
    'metric': ['euclidean', 'manhattan']  # Trying different distance metrics
}

knn = KNeighborsClassifier()
grid_search = GridSearchCV(knn, param_grid, cv=5)  # 5-fold cross-validation
grid_search.fit(X_train, y_train)
y_pred_knn = grid_search.predict(X_test)

print(f"Best parameters: {grid_search.best_params_}")

Best parameters: {'metric': 'euclidean', 'n_neighbors': 3, 'weights': 'uniform'}

In [32]:
y_pred_knn = pd.DataFrame(y_pred_knn, columns=['y_pred_knn'])
results_knn = pd.concat([X_test.reset_index(drop=True), y_pred_knn], axis=1)
results_knn.head()

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,y_pred_knn
0,-0.124683,-0.744343,0.176582,-0.336379,-0.329163,1.145611,0.105680,0.602445,0.303050,0.266802,0.315539,0.263075,0.013100,1
1,-0.235789,0.814928,0.113886,-0.632871,-0.329163,0.707417,-0.056039,0.596824,-0.190439,-0.178942,-0.196813,-0.176046,-0.070934,0
2,-1.535484,1.120854,-0.954099,-0.411900,-0.250713,-0.974843,1.537292,-2.003470,0.151762,0.131823,0.159274,0.128974,-0.012365,0
3,-0.293425,1.183063,0.371154,-0.705595,-0.329163,0.264187,-0.212456,0.695754,-0.410168,-0.373563,-0.423315,-0.370313,-0.109131,0
4,0.077508,-1.237271,0.980814,-0.188133,-0.329163,0.823261,0.081820,0.505763,-0.363340,-0.332756,-0.375946,-0.329903,-0.101492,1

In [33]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print(accuracy_score(y_test, y_pred_knn))
print(classification_report(y_test, y_pred_knn))
print(confusion_matrix(y_test, y_pred_knn))

1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3017
           1       1.00      1.00      1.00      2983

    accuracy                           1.00      6000
   macro avg       1.00      1.00      1.00      6000
weighted avg       1.00      1.00      1.00      6000

[[3017    0]
 [   0 2983]]

# Decision Tree for Classification

In [34]:
# # Decision Tree for Classification
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)
# y_pred_tree = dt.predict(X_test)

dt.tree_.node_count, dt.tree_.max_depth

(7, 2)

In [35]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def measure_error(y_true, y_pred, label):
    return pd.Series({'accuracy': accuracy_score(y_true, y_pred),
                      'precision_score': precision_score(y_true, y_pred, average='macro'),
                      'recall_score': recall_score(y_true, y_pred,average='macro'),
                      'f1_score': f1_score(y_true, y_pred,average='macro')},
                      name=label)

Tried first with no limits on maximum depth, features and leaves

In [36]:
y_train_pred = dt.predict(X_train)
y_test_pred = dt.predict(X_test)

train_test_full_error = pd.concat([measure_error(y_train, y_train_pred, 'train'),
                                   measure_error(y_test, y_test_pred, 'test')],
                                   axis=1)
train_test_full_error

                 train  test
accuracy           1.0   1.0
precision_score    1.0   1.0
recall_score       1.0   1.0
f1_score           1.0   1.0

Then, try with Grid Search fit hyperparameters

In [37]:
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth':range(1, dt.tree_.max_depth+1, 2),
              'max_features':range(1, len(dt.feature_importances_)+1)}

GR = GridSearchCV(DecisionTreeClassifier(random_state=42),
                  param_grid=param_grid,
                  scoring='accuracy',
                  n_jobs=-1)

GR = GR.fit(X_train, y_train)

In [38]:
GR.best_estimator_.tree_.node_count, GR.best_estimator_.tree_.max_depth

(3, 1)

In [39]:
y_train_pred_gr = GR.predict(X_train)
y_test_pred_gr = GR.predict(X_test)

train_test_gr_error = pd.concat([measure_error(y_train, y_train_pred_gr, 'train'),
                                   measure_error(y_test, y_test_pred_gr, 'test')],
                                   axis=1)
train_test_gr_error

                    train      test
accuracy         0.904214  0.906667
precision_score  0.919073  0.921176
recall_score     0.904444  0.906144
f1_score         0.903393  0.905774

## Metrics
Difference between two methods

In [40]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print(accuracy_score(y_test, y_test_pred))
print(classification_report(y_test, y_test_pred))
print(confusion_matrix(y_test, y_test_pred))

1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3017
           1       1.00      1.00      1.00      2983

    accuracy                           1.00      6000
   macro avg       1.00      1.00      1.00      6000
weighted avg       1.00      1.00      1.00      6000

[[3017    0]
 [   0 2983]]

In [41]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print(accuracy_score(y_test, y_test_pred_gr))
print(classification_report(y_test, y_test_pred_gr))
print(confusion_matrix(y_test, y_test_pred_gr))

0.9066666666666666
              precision    recall  f1-score   support

           0       0.84      1.00      0.91      3017
           1       1.00      0.81      0.90      2983

    accuracy                           0.91      6000
   macro avg       0.92      0.91      0.91      6000
weighted avg       0.92      0.91      0.91      6000

[[3012    5]
 [ 555 2428]]